*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}

section{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	background-image:url(1.jpg);
	object-fit: cover;
}



section .text{
	position: relative;
	text-align: center;
	color: #fff;
	margin: 40px;
	font-size: 20px;
	max-width: 650px;
}


section .text span{
	position: relative;
	display: inline-block;
}